
        #menu_ul {
            background: lavenderblush;
            height: 50px;
            width: 100%;
            text-decoration: none; /*È¥µôÇ°ÃæµÄÔ²µã*/
            list-style: none;
            border-radius: 9px;
        }

        #menu_ul li {
            display: inline;
            float: left;
            line-height: 50px;
            font-size: 18px;
            width: 160px;
            color: white;
        }

        #menu_ul li:hover {
            background: #003A80;
            border-radius: 13px;
            color: white;
        }

        #menu_ul li a {
            color: black;
        }

        #menu_ul li a:hover {
            font-size: 23px;
            color: white;
        }
        #tb_main tr{
            height: 50px;
        }
